
AmplifyShaderEditor.csproj
AmplifyShaderEditor.Samples.BuiltIn.csproj
Assembly-CSharp.csproj
Assets/Niveles/Parcial 1.unity
Assets/Scripts/Camera effects/CameraPoints.cs
Logs/AssetImportWorker0-prev.log
Logs/AssetImportWorker0.log
Logs/AssetImportWorker1-prev.log
Logs/AssetImportWorker1.log
Logs/shadercompiler-AssetImportWorker0.log
Logs/shadercompiler-UnityShaderCompiler.exe0.log
Logs/shadercompiler-UnityShaderCompiler.exe1.log
Logs/shadercompiler-UnityShaderCompiler.exe2.log
Logs/shadercompiler-UnityShaderCompiler.exe3.log
Logs/shadercompiler-UnityShaderCompiler.exe4.log
Logs/shadercompiler-UnityShaderCompiler.exe5.log
Logs/shadercompiler-UnityShaderCompiler.exe6.log
Logs/shadercompiler-UnityShaderCompiler.exe7.log
obj/Debug/AmplifyShaderEditor.csproj.AssemblyReference.cache
obj/Debug/AmplifyShaderEditor.Samples.BuiltIn.csproj.AssemblyReference.cache
obj/Debug/Assembly-CSharp.csproj.AssemblyReference.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Platform-Mirror.sln
UserSettings/Layouts/default-2021.dwlt
